/* Custom Utilities -------------------- */


// Type Utilities
.text-brown { color: $brown; }
.text-black { color: $black; } 

.bg-black { background-color: #191919; }
.bg-grey { background-color: #2b2929; }

.badge-outline {
    color: black;
    border: 1px solid #999;
    background-color: transparent;
}

.badge-outline.badge-primary {
    border-color: #d85555;
    color: #d85555;
}

.rounded {
    border-radius: 1rem !important;
}