//Custom variables

// Descriptive color variables
$brown: #b08443;

// Functional color variables
$black: black;
$white: white;

// Asset paths
// $path-image   :   '../img';
// $path-fonts   :  '../fonts';
