.card {
    flex-direction: row;
    border-radius: 10px;

    background-color: #212121; 

    .card-img {
        height: 180px;
        width: auto;

        background-image: url('/img/placeholder.jpg');
        background-position: center;
        background-size: contain;
    }

    .progress {
        height: 0.7rem;
        background-color: #212121;
        border: #d85555 solid 1px;
    }
    @include media-breakpoint-up(md) { 
        .card-img {
            height: 180px;
            width: 135px;
        }
    }

    &:hover {
        box-shadow: 0.2rem 0.2rem 0rem #d85555 !important;

        .filter:after{
            position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
            background: rgba(191, 47, 47, 0);
        }
    }

    
    .filter{
        position: relative;
    }
    
    .filter:after{
        position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
        background: rgb(191, 47, 47);
        mix-blend-mode: multiply;

        &:hover {
            background: rgba(191, 47, 47, 0);
            mix-blend-mode: multiply;
        }
    }

}

@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }